<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BranchA_MazalPlus.Properties.Settings.MazalConnectionString"
            connectionString="Data Source=whitesnow.database.windows.net;Initial Catalog=Mazal;Persist Security Info=True;User ID=Grimm;Password=#!7Dwarfs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>